body{
    overflow-x: hidden;
    overflow-y: scroll;
}

.corrusel-react{
    margin-bottom: 100px;
}

#seccion-inicio{
    font-family: Arial, Helvetica, sans-serif;
}

.container-dad{
    width: 0;
    height: 0;
    margin-bottom: 50px;
}

#Row-center{
    justify-content: center;
    text-align: center;
}

.Seccion-titulos{
    width: 180%;
    height: 100%;
    display: contents;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    position: relative;
    right: 260px;
    bottom: 40px;
    color: rgba(15, 15, 75, 0.818);
}

.parrafo-compartido{
    justify-content: center;
    align-items: center;
    width: 750px;
    position: relative;
    left: 150px;
    bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

#section-2{
    background-color: #21618C;
}

.text-2{
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-bottom: 100px;
    align-items: center;
    height: 100px;
    width: 300px;
    position: relative;
    left: 40px;
    top: 10px;
}

.text-3{
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-bottom: 100px;
    align-items: center;
    height: 100px;
    width: 300px;
    position: relative;
    left: 379px;
    bottom: 190px;
}


.unico-parrafo{
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-bottom: 100px;
    align-items: center;
    height: 100px;
    width: 300px;
    position: relative;
    left: 690px;
    bottom: 370px;
}


.ideas{
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-bottom: 100px;
    align-items: center;
    height: 100px;
    width: 300px;
    position: relative;
    left: 1000px;
    bottom: 570px;
}


.text-4{
    align-items: center;
    height: 100px;
    position: relative;
    left: 150px;
}


.confianza{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    align-items: center;
}

.p-confianza{
    font-family: 'Roboto';
    font-size: x-large;
    width: 100%;
    text-align: justify;
}

.img-section4{
    width: 100%;
  }

#section-3{
    width: 450px;
    height: 450px;
}

.button-contacto{
    position: relative;
    left: 150px;
    top: 10px;
}

.h-form{
    font-size: 25px;
    color: rgba(15, 15, 75, 0.818)
}

#form{
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
}


.login-form{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}


.login-form{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inpName{
    position: relative;
    left: 330px;
}

.inpEmail{
    position: relative;
    left: 330px;
    bottom: 25px;
    margin-right: 10px;
}

.inpPhone{
    position: relative;
    left: 670px;
    bottom: 100px;
}

.inpAsunto{
    position: relative;
    left: 330px;
    bottom: 125px;
}

.inpMessage{
    position: relative;
    left: 420px;
    bottom: 140px;
}


#imgsHover{
    transition:all .9s ease;
    margin-bottom: 20px;
}

#txtHover{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

#imgsHover :hover{
    transform: scale(12); 
    -webkit-transform:scale(125);
    -moz-transform:scale(125);
    -ms-transform:scale(125);
    -o-transform:scale(125);
    transform:scale(1.2);
}

.img-1{
    margin-left: 25px;
}


.width-1{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    overflow: hidden;
    transition:  transform 0.5s;
    margin: auto;
    padding: auto;
}

.width-materiales-logo{
    width: 150px;
    height: 150px;
    overflow: hidden;
    transition:  transform 1s;
    margin: auto;
}

.materiales{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgba(15, 15, 75, 0.818);
}

#contact-section{
    background-color: #21618C;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}


#Display-toLineUp{
    display: flex;
}

.Type{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    margin-left: 20px;
    color: white;
}

.horario{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    margin-left: 20px;
    color: white;
}

.number{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: white;
}

.email{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: white;
}

/*Retocando style*/

.container-dad{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-text{
    padding-left: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#p-1{
    font-family: 'Roboto';
    font-size: large;
    text-align: center;
    font-size: x-large;
}

/* @mediaQuery */

@media (max-width:574px){
    .Seccion-titulos{
      font-size: 20px;
    }
    .experiencia{
        font-size: 20px;
    }
    .p-experiencia{
        font-size: 10px;
        width: 100%;
    }
    #p-1{
        font-size: 15px;
    }
    #form{
        padding-left: 0px;
        padding-right: 0px;
    }
    .Responsive-img{
        width: '300px';
        justify-content: center; 
        text-align: center;
        align-items: center;
        position: relative;
        top: 30px;
    }
    .p-confianza{
        font-size: 15px;
    }
    #imgsHover{
        display: flex;
        padding: 0;
    }
    .width-materiales-logo{
        width: 100px;
        height: 100px;
        display: flex;
    }
   }

   @media (min-width:316px) and (max-width: 574px){
    .classComprtida{
        font-size: 7px;
        margin: 0;
    }
    .classComprtidaParrafos{
        font-size: 7px;
        text-align: start;
    }
    .classComprtida_col{
        text-align: 'center';
        justify-content: 'center';
         align-items: 'center';
    }
   }