#containerNosotros{
    margin: auto;
    padding: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

#parrafoData{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    flex-direction: column;
    display: flex;
    margin-top: 10%;
    position: relative;
    right: 35%;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

#parrafoCalidad{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}


.Nosotros-h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgba(15, 15, 75,0.818);
}

#parrafoData{
    margin-bottom: 25%;
    text-align: center;
}


.width-img{
    margin-top: 10%;
    width: 80%;
    height: 60%;
    position: static;
    margin-left: 10%;
}

/*Acomodamos section*/

.Fabrication{
    margin: auto;
    padding: auto;
    height: auto;
    width: auto;
}

#Row-Us{
    height: auto;
}


#img-us{
    margin: 0%;
    padding: 0%;
    position: relative;
    top: 10px;
}