/* efectos Hover */

.imgs2-hover{
    color: #21618C;
    transition: color 0.3s ease;
    animation: cambioDeColor 5s infinite;
    filter: brightness(150%) saturate(100%);
}
.imgs2-hover :hover{
    color: #303642;
}

@keyframes cambioDeColor {
    0% { color: #256088; }
    50% { color: #276592; }
    100% { color:  #303642; }
}

/* hover from section in the services logo */

.paragraph{
    font-size: 15px;
    transition: all .9;
}

.paragraph :hover{
    transform: scale(1.7);
}